<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>core.UndefinedBinaryOperatorResult</string>
			<key>description</key>
			<string>The result of the left shift is undefined due to shifting by '18446744073709551615', which is greater or equal to the width of type 'u32'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>36ea270db86ea225bba4d2fb6d9ff800</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>40</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>98</integer>
			</dict>
			<key>macro_expansions</key>
			<array>
				<dict>
					<key>expansion</key>
					<string>((iv )==0||memIsValid (iv ,16))</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>458</integer>
					</dict>
					<key>name</key>
					<string>memIsNullOrValid(iv, 16)</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>utilAssert (!!(2&lt;=mod &amp;&amp;mod &lt;=65536),"/home/mikhail/bee2/src/crypto/belt/belt_fmt.c",305)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>305</integer>
					</dict>
					<key>name</key>
					<string>ASSERT(2 &lt;= mod &amp;&amp; mod &lt;= 65536)</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>utilAssert (!!(2&lt;=count &amp;&amp;count &lt;=600),"/home/mikhail/bee2/src/crypto/belt/belt_fmt.c",306)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>306</integer>
					</dict>
					<key>name</key>
					<string>ASSERT(2 &lt;= count &amp;&amp; count &lt;= 600)</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>utilAssert (!!(2&lt;=mod &amp;&amp;mod &lt;=65536),"/home/mikhail/bee2/src/crypto/belt/belt_fmt.c",87)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>87</integer>
					</dict>
					<key>name</key>
					<string>ASSERT(2 &lt;= mod &amp;&amp; mod &lt;= 65536)</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>utilAssert (!!(1&lt;=count &amp;&amp;count &lt;=300),"/home/mikhail/bee2/src/crypto/belt/belt_fmt.c",88)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>88</integer>
					</dict>
					<key>name</key>
					<string>ASSERT(1 &lt;= count &amp;&amp; count &lt;= 300)</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>utilAssert (!!(k &gt;0),"/home/mikhail/bee2/src/crypto/belt/belt_fmt.c",97)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>97</integer>
					</dict>
					<key>name</key>
					<string>ASSERT(k &gt; 0)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>455</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>455</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>453</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>453</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>455</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>455</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>455</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>455</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>456</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>456</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>455</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>455</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>457</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>457</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>456</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>456</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>458</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>19</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>458</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>457</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>457</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>459</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>459</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>458</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>19</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>458</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>460</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>460</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>459</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>459</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>461</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>461</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>460</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>460</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>463</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>463</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>461</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>461</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>463</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>463</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>463</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>463</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>466</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>466</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>463</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>463</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>466</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>466</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>466</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>466</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>1</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>303</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>303</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>466</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>466</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>305</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>305</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>1</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>303</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>303</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>307</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>307</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>305</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>305</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>36</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>307</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>47</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>307</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>307</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>307</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>1</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>74</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>74</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>36</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>307</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>47</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>307</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>77</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>77</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>1</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>74</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>74</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>87</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>87</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>77</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>77</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>90</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>90</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>87</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>87</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>90</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>90</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>90</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>90</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>93</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>93</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>90</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>90</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>93</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>93</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>93</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>93</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>96</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>96</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>93</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>93</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>97</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>97</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>96</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>96</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>455</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'count' is &gt;= 2</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>455</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>455</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>456</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'len' is equal to 16</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>456</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>11</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>456</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>457</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>457</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>29</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>457</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>458</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'iv' is equal to null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>4</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>458</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>27</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>458</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>459</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>459</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>23</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>459</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>460</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>460</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>30</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>460</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>463</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'count' is &lt;= 600</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>463</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>463</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>21</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>466</integer>
					</dict>
					<key>message</key>
					<string>Calling 'beltFMT_keep'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>21</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>466</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>44</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>466</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>303</integer>
					</dict>
					<key>message</key>
					<string>Entered call from 'beltFMTDecr'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>303</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>303</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>305</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'mod' is &lt; 2</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>305</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>33</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>305</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>36</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>307</integer>
					</dict>
					<key>message</key>
					<string>Calling 'beltFMTCalcB'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>36</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>307</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>69</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>307</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>74</integer>
					</dict>
					<key>message</key>
					<string>Entered call from 'beltFMT_keep'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>74</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>74</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>88</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'count' is &lt; 1</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>88</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>35</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>88</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>97</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'k' is &lt;= 0</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>97</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>97</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>40</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>98</integer>
					</dict>
					<key>message</key>
					<string>The result of the left shift is undefined due to shifting by '18446744073709551615', which is greater or equal to the width of type 'u32'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>43</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>98</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>49</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>98</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/mikhail/bee2/src/crypto/belt/belt_fmt.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clangsa</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.3</string>
		</dict>
	</dict>
</dict>
</plist>
