<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>199fbaca871a373bded5c4731aa7e2bb</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>903cf341bc3a1e0ac0763593be9f043d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9358c6587d264b7b1401b2430c55ae2f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a2577120af05739f1c8033b9c6a79e5d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>e532ccf3601d825ae5a2fdb03dcbc13a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f7ceefd4281512da34ba2f0fef2df529</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>322cae06601762a87b20f76dda1e5404</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>6</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>6</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>e6fb7c04cc0887d92de873de9356340a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>7</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>54369bdab91bd3f14631c2160b4d8747</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>8</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>8</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'size_t' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8d4b5eeecad0066846893ad9a46da9a4</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>60</integer>
				<key>file</key>
				<integer>9</integer>
				<key>line</key>
				<integer>97</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>60</integer>
						<key>file</key>
						<integer>9</integer>
						<key>line</key>
						<integer>97</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>60</integer>
						<key>file</key>
						<integer>9</integer>
						<key>line</key>
						<integer>97</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'size_t' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/mikhail/bee2/include/bee2/core/hex.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/mem.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/safe.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/util.h</string>
		<string>/home/mikhail/bee2/include/bee2/crypto/belt.h</string>
		<string>/home/mikhail/bee2/include/bee2/crypto/bign.h</string>
		<string>/home/mikhail/bee2/include/bee2/crypto/bign128.h</string>
		<string>/home/mikhail/bee2/include/bee2/crypto/brng.h</string>
		<string>/home/mikhail/bee2/include/bee2/defs.h</string>
		<string>/home/mikhail/bee2/test/crypto/bign128_test.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.3</string>
		</dict>
	</dict>
</dict>
</plist>
