<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>00b97a65806d5ac914fdad4a45047865</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f5c9f86592e231d49022c72fe02f8076</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>91</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>91</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>91</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>91</integer>
					</dict>
					<key>message</key>
					<string>'blob' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f5c9f86592e231d49022c72fe02f8076</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>134</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>134</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>134</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>134</integer>
					</dict>
					<key>message</key>
					<string>'blob' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'src' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>264b6893a07332e96395110604ddc1bf</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>148</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>148</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>148</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>148</integer>
					</dict>
					<key>message</key>
					<string>'src' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob1' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>652570bac93f531735375296f00d2ba7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>158</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>158</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>158</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>158</integer>
					</dict>
					<key>message</key>
					<string>'blob1' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob2' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0b932632cf95e7b6d9c09f9e5cbd3a97</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>159</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>159</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>159</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>159</integer>
					</dict>
					<key>message</key>
					<string>'blob2' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob1' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>652570bac93f531735375296f00d2ba7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>173</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>173</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>173</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>173</integer>
					</dict>
					<key>message</key>
					<string>'blob1' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob2' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0b932632cf95e7b6d9c09f9e5cbd3a97</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>174</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>174</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>174</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>174</integer>
					</dict>
					<key>message</key>
					<string>'blob2' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>806521410d9523da664a81f055082e9f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>17ef519a63536f6fcb218ae238ed0c37</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4379592c52d751c5d42bc4b83d418124</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>53</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>53</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>903cf341bc3a1e0ac0763593be9f043d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9358c6587d264b7b1401b2430c55ae2f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4d4f73c4fd71be20098cb7a5c59a838d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2e53a32b03101fcb26d2c0c27e57dcdd</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>6</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>6</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a2577120af05739f1c8033b9c6a79e5d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>7</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>e532ccf3601d825ae5a2fdb03dcbc13a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>8</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>8</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8d1df8e876cf6379fddaf89242079341</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>9</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>9</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>54369bdab91bd3f14631c2160b4d8747</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>10</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>10</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'size_t' (aka 'unsigned long') to signed type 'tm_time_t' (aka 'long') is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4433d8c63fef45cb4f9e141a91e72dc1</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>12</integer>
				<key>file</key>
				<integer>11</integer>
				<key>line</key>
				<integer>476</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>12</integer>
						<key>file</key>
						<integer>11</integer>
						<key>line</key>
						<integer>476</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'size_t' (aka 'unsigned long') to signed type 'tm_time_t' (aka 'long') is implementation-defined</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'size_t' (aka 'unsigned long') to signed type 'tm_time_t' (aka 'long') is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5ecf9224577a0b80cef8dd54363db3a3</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>28</integer>
				<key>file</key>
				<integer>11</integer>
				<key>line</key>
				<integer>478</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>28</integer>
						<key>file</key>
						<integer>11</integer>
						<key>line</key>
						<integer>478</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'size_t' (aka 'unsigned long') to signed type 'tm_time_t' (aka 'long') is implementation-defined</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-logical-op-parentheses</string>
			<key>description</key>
			<string>'&amp;&amp;' within '||'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>45566bae8684daedafa5f6114762ee61</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>18</integer>
				<key>file</key>
				<integer>11</integer>
				<key>line</key>
				<integer>615</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>18</integer>
						<key>file</key>
						<integer>11</integer>
						<key>line</key>
						<integer>615</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the '&amp;&amp;' expression to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>18</integer>
						<key>file</key>
						<integer>11</integer>
						<key>line</key>
						<integer>615</integer>
					</dict>
					<key>message</key>
					<string>'&amp;&amp;' within '||'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-logical-op-parentheses</string>
			<key>description</key>
			<string>'&amp;&amp;' within '||'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4c1ca4235da4f46039b935eb374090be</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>16</integer>
				<key>file</key>
				<integer>11</integer>
				<key>line</key>
				<integer>617</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>11</integer>
						<key>line</key>
						<integer>617</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the '&amp;&amp;' expression to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>11</integer>
						<key>line</key>
						<integer>617</integer>
					</dict>
					<key>message</key>
					<string>'&amp;&amp;' within '||'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-logical-op-parentheses</string>
			<key>description</key>
			<string>'&amp;&amp;' within '||'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>68c6b16a7a1c32d36255d10d1cadc26a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>16</integer>
				<key>file</key>
				<integer>11</integer>
				<key>line</key>
				<integer>618</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>11</integer>
						<key>line</key>
						<integer>618</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the '&amp;&amp;' expression to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>11</integer>
						<key>line</key>
						<integer>618</integer>
					</dict>
					<key>message</key>
					<string>'&amp;&amp;' within '||'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-logical-op-parentheses</string>
			<key>description</key>
			<string>'&amp;&amp;' within '||'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>45566bae8684daedafa5f6114762ee61</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>18</integer>
				<key>file</key>
				<integer>11</integer>
				<key>line</key>
				<integer>668</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>18</integer>
						<key>file</key>
						<integer>11</integer>
						<key>line</key>
						<integer>668</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the '&amp;&amp;' expression to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>18</integer>
						<key>file</key>
						<integer>11</integer>
						<key>line</key>
						<integer>668</integer>
					</dict>
					<key>message</key>
					<string>'&amp;&amp;' within '||'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-logical-op-parentheses</string>
			<key>description</key>
			<string>'&amp;&amp;' within '||'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4c1ca4235da4f46039b935eb374090be</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>16</integer>
				<key>file</key>
				<integer>11</integer>
				<key>line</key>
				<integer>670</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>11</integer>
						<key>line</key>
						<integer>670</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the '&amp;&amp;' expression to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>11</integer>
						<key>line</key>
						<integer>670</integer>
					</dict>
					<key>message</key>
					<string>'&amp;&amp;' within '||'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-logical-op-parentheses</string>
			<key>description</key>
			<string>'&amp;&amp;' within '||'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>68c6b16a7a1c32d36255d10d1cadc26a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>16</integer>
				<key>file</key>
				<integer>11</integer>
				<key>line</key>
				<integer>671</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>11</integer>
						<key>line</key>
						<integer>671</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the '&amp;&amp;' expression to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>11</integer>
						<key>line</key>
						<integer>671</integer>
					</dict>
					<key>message</key>
					<string>'&amp;&amp;' within '||'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/mikhail/bee2/include/bee2/core/blob.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/dec.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/err.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/mem.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/safe.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/str.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/tm.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/util.h</string>
		<string>/home/mikhail/bee2/include/bee2/crypto/belt.h</string>
		<string>/home/mikhail/bee2/include/bee2/crypto/botp.h</string>
		<string>/home/mikhail/bee2/include/bee2/defs.h</string>
		<string>/home/mikhail/bee2/src/crypto/botp.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.3</string>
		</dict>
	</dict>
</dict>
</plist>
