<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should be used</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>db0d141b07572e62535d9f1c56071e66</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>52</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>52</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>52</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should be used</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>467e103115e37e1337cc4f275a8c86cb</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>14</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>14</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'pwd' declared with a const-qualified typedef; results in the type being 'char *const' instead of 'const char *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9ab861b388259dc0794948967cfeb1ae</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>18</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>607</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>607</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>607</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>586</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>586</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>586</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>18</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>607</integer>
					</dict>
					<key>message</key>
					<string>'pwd' declared with a const-qualified typedef; results in the type being 'char *const' instead of 'const char *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'pwd' declared with a const-qualified typedef; results in the type being 'char *const' instead of 'const char *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>3d89a16f0096a472da75f4a6fc323464</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>18</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>668</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>668</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>668</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>586</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>586</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>586</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>18</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>668</integer>
					</dict>
					<key>message</key>
					<string>'pwd' declared with a const-qualified typedef; results in the type being 'char *const' instead of 'const char *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'pwd' declared with a const-qualified typedef; results in the type being 'char *const' instead of 'const char *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>3d89a16f0096a472da75f4a6fc323464</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>18</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>687</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>687</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>687</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>586</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>586</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>586</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>18</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>687</integer>
					</dict>
					<key>message</key>
					<string>'pwd' declared with a const-qualified typedef; results in the type being 'char *const' instead of 'const char *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a4fc76a94458b1b73267319fb0df4327</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>00b97a65806d5ac914fdad4a45047865</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f5c9f86592e231d49022c72fe02f8076</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>91</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>91</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>91</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>91</integer>
					</dict>
					<key>message</key>
					<string>'blob' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f5c9f86592e231d49022c72fe02f8076</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>134</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>134</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>134</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>134</integer>
					</dict>
					<key>message</key>
					<string>'blob' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'src' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>264b6893a07332e96395110604ddc1bf</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>148</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>148</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>148</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>148</integer>
					</dict>
					<key>message</key>
					<string>'src' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob1' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>652570bac93f531735375296f00d2ba7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>158</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>158</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>158</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>158</integer>
					</dict>
					<key>message</key>
					<string>'blob1' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob2' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0b932632cf95e7b6d9c09f9e5cbd3a97</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>159</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>159</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>159</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>159</integer>
					</dict>
					<key>message</key>
					<string>'blob2' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob1' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>652570bac93f531735375296f00d2ba7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>173</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>173</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>173</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>173</integer>
					</dict>
					<key>message</key>
					<string>'blob1' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob2' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0b932632cf95e7b6d9c09f9e5cbd3a97</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>174</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>174</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>174</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>174</integer>
					</dict>
					<key>message</key>
					<string>'blob2' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>17ef519a63536f6fcb218ae238ed0c37</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4379592c52d751c5d42bc4b83d418124</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>53</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>53</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2e53a32b03101fcb26d2c0c27e57dcdd</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ede3b192106fb752da3681eb39d97d4d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>6</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>6</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f7ceefd4281512da34ba2f0fef2df529</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>7</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>583365db25f643dbabd5cec4038ea259</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>8</integer>
				<key>line</key>
				<integer>14</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>8</integer>
						<key>line</key>
						<integer>14</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>54369bdab91bd3f14631c2160b4d8747</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>9</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>9</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/mikhail/bee2/cmd/core/cmd_term.c</string>
		<string>/home/mikhail/bee2/cmd/include/bee2/cmd.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/apdu.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/blob.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/err.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/tm.h</string>
		<string>/home/mikhail/bee2/include/bee2/crypto/bake.h</string>
		<string>/home/mikhail/bee2/include/bee2/crypto/bign.h</string>
		<string>/home/mikhail/bee2/include/bee2/crypto/btok.h</string>
		<string>/home/mikhail/bee2/include/bee2/defs.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.3</string>
		</dict>
	</dict>
</dict>
</plist>
