<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>046216742c1bae6ff564d449daf45536</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>903cf341bc3a1e0ac0763593be9f043d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2cb70d077e5503473d397563392cfa7d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>22</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>22</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9358c6587d264b7b1401b2430c55ae2f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4d4f73c4fd71be20098cb7a5c59a838d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a2577120af05739f1c8033b9c6a79e5d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>54369bdab91bd3f14631c2160b4d8747</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>6</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>6</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-logical-op-parentheses</string>
			<key>description</key>
			<string>'&amp;&amp;' within '||'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>82cba0b23ddd37ec368e098b6bd649f8</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>11</integer>
				<key>file</key>
				<integer>7</integer>
				<key>line</key>
				<integer>213</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>11</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>213</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the '&amp;&amp;' expression to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>11</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>213</integer>
					</dict>
					<key>message</key>
					<string>'&amp;&amp;' within '||'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '_max_depth' is reserved because it starts with '_' at global scope</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6087054df0eafab928b665f919fe0840</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>21</integer>
				<key>file</key>
				<integer>7</integer>
				<key>line</key>
				<integer>324</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>21</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>324</integer>
					</dict>
					<key>message</key>
					<string>identifier '_max_depth' is reserved because it starts with '_' at global scope</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-logical-op-parentheses</string>
			<key>description</key>
			<string>'&amp;&amp;' within '||'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d1fa42983ce4a22b09101fef4d2203d7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>27</integer>
				<key>file</key>
				<integer>7</integer>
				<key>line</key>
				<integer>542</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>27</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>542</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the '&amp;&amp;' expression to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>27</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>542</integer>
					</dict>
					<key>message</key>
					<string>'&amp;&amp;' within '||'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-logical-op-parentheses</string>
			<key>description</key>
			<string>'&amp;&amp;' within '||'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>de3c82853a3007920c5086ca2e9d4699</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>23</integer>
				<key>file</key>
				<integer>7</integer>
				<key>line</key>
				<integer>543</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>23</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>543</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the '&amp;&amp;' expression to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>23</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>543</integer>
					</dict>
					<key>message</key>
					<string>'&amp;&amp;' within '||'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-logical-op-parentheses</string>
			<key>description</key>
			<string>'&amp;&amp;' within '||'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>91496f5a361b4bd380b6ce6d6cab0a99</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>22</integer>
				<key>file</key>
				<integer>7</integer>
				<key>line</key>
				<integer>618</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>22</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>618</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the '&amp;&amp;' expression to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>22</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>618</integer>
					</dict>
					<key>message</key>
					<string>'&amp;&amp;' within '||'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-logical-op-parentheses</string>
			<key>description</key>
			<string>'&amp;&amp;' within '||'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>91496f5a361b4bd380b6ce6d6cab0a99</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>22</integer>
				<key>file</key>
				<integer>7</integer>
				<key>line</key>
				<integer>653</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>22</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>653</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the '&amp;&amp;' expression to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>22</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>653</integer>
					</dict>
					<key>message</key>
					<string>'&amp;&amp;' within '||'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-logical-op-parentheses</string>
			<key>description</key>
			<string>'&amp;&amp;' within '||'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>57c539d33af9d37aebae1c2c92e8c893</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>37</integer>
				<key>file</key>
				<integer>7</integer>
				<key>line</key>
				<integer>726</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>37</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>726</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the '&amp;&amp;' expression to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>37</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>726</integer>
					</dict>
					<key>message</key>
					<string>'&amp;&amp;' within '||'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-logical-op-parentheses</string>
			<key>description</key>
			<string>'&amp;&amp;' within '||'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>def717c1c9973ff000498640bfa4557d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>37</integer>
				<key>file</key>
				<integer>7</integer>
				<key>line</key>
				<integer>757</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>37</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>757</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the '&amp;&amp;' expression to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>37</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>757</integer>
					</dict>
					<key>message</key>
					<string>'&amp;&amp;' within '||'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'unsigned int' to signed type 'char' is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>93ae23dd84e9b9eef2c1cfdc3fbfafff</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>14</integer>
				<key>file</key>
				<integer>7</integer>
				<key>line</key>
				<integer>847</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>847</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'unsigned int' to signed type 'char' is implementation-defined</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'unsigned int' to signed type 'char' is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>49d069986dc1e08c8673229d4eee0a2c</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>24</integer>
				<key>file</key>
				<integer>7</integer>
				<key>line</key>
				<integer>849</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>24</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>849</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'unsigned int' to signed type 'char' is implementation-defined</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/mikhail/bee2/include/bee2/core/der.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/mem.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/oid.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/safe.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/str.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/util.h</string>
		<string>/home/mikhail/bee2/include/bee2/defs.h</string>
		<string>/home/mikhail/bee2/src/core/der.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.3</string>
		</dict>
	</dict>
</dict>
</plist>
