<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>core.UndefinedBinaryOperatorResult</string>
			<key>description</key>
			<string>The result of the left shift is undefined due to shifting by '18446744073709551615', which is greater or equal to the width of type 'size_t'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>70a7147c339c19fce56528d3fd5aca85</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>297</integer>
			</dict>
			<key>macro_expansions</key>
			<array>
				<dict>
					<key>expansion</key>
					<string>utilAssert (!!(ecIsOperable (ec )&amp;&amp;ec -&gt;d ==3),"/home/mikhail/bee2/src/math/ecp/ecp_pre.c",294)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>294</integer>
					</dict>
					<key>name</key>
					<string>ASSERT(ecIsOperable(ec) &amp;&amp; ec-&gt;d == 3)</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>utilAssert (!!(((wwCmp ((a ),((ec )-&gt;f )-&gt;mod ,((ec )-&gt;f )-&gt;n )&lt;0)&amp;&amp;(wwCmp (((a )+((ec )-&gt;f -&gt;n )),((ec )-&gt;f )-&gt;mod ,((ec )-&gt;f )-&gt;n )&lt;0))),"/home/mikhail/bee2/src/math/ecp/ecp_pre.c",295)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>295</integer>
					</dict>
					<key>name</key>
					<string>ASSERT(ecpSeemsOnA(a, ec))</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>utilAssert (!!(0&lt;w &amp;&amp;w &lt;((64)&lt;(64)?(64):(64))),"/home/mikhail/bee2/src/math/ecp/ecp_pre.c",296)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>296</integer>
					</dict>
					<key>name</key>
					<string>ASSERT(0 &lt; w &amp;&amp; w &lt; MIN2(B_PER_W, B_PER_S))</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>utilAssert (!!(memIsDisjoint2 (pre ,sizeof (ec_pre_t )+((size_t )(((((size_t )1)&lt;&lt;(w -1))*3*ec -&gt;f -&gt;n )*(64/8))),a ,((size_t )((2*ec -&gt;f -&gt;n )*(64/8))))),"/home/mikhail/bee2/src/math/ecp/ecp_pre.c",299)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>297</integer>
					</dict>
					<key>name</key>
					<string>ASSERT(memIsDisjoint2(pre, 
		sizeof(ec_pre_t) + O_OF_W(SIZE_BIT_POS(w - 1) * 3 * ec-&gt;f-&gt;n),
		a, O_OF_W(2 * ec-&gt;f-&gt;n)))</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>294</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>294</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>292</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>292</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>294</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>294</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>39</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>294</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>295</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>295</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>27</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>295</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>296</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'w' is &lt;= 0</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>296</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>44</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>296</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>297</integer>
					</dict>
					<key>message</key>
					<string>The result of the left shift is undefined due to shifting by '18446744073709551615', which is greater or equal to the width of type 'size_t'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>297</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>27</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>299</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>core.UndefinedBinaryOperatorResult</string>
			<key>description</key>
			<string>The result of the left shift is undefined due to shifting by '18446744073709551615', which is greater or equal to the width of type 'size_t'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b6bae26288668c15ace3712b59f0c56e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>367</integer>
			</dict>
			<key>macro_expansions</key>
			<array>
				<dict>
					<key>expansion</key>
					<string>utilAssert (!!(ecIsOperable (ec )&amp;&amp;ec -&gt;d ==3),"/home/mikhail/bee2/src/math/ecp/ecp_pre.c",364)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>364</integer>
					</dict>
					<key>name</key>
					<string>ASSERT(ecIsOperable(ec) &amp;&amp; ec-&gt;d == 3)</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>utilAssert (!!(((wwCmp ((a ),((ec )-&gt;f )-&gt;mod ,((ec )-&gt;f )-&gt;n )&lt;0)&amp;&amp;(wwCmp (((a )+((ec )-&gt;f -&gt;n )),((ec )-&gt;f )-&gt;mod ,((ec )-&gt;f )-&gt;n )&lt;0))),"/home/mikhail/bee2/src/math/ecp/ecp_pre.c",365)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>365</integer>
					</dict>
					<key>name</key>
					<string>ASSERT(ecpSeemsOnA(a, ec))</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>utilAssert (!!(0&lt;w &amp;&amp;w &lt;((64)&lt;(64)?(64):(64))),"/home/mikhail/bee2/src/math/ecp/ecp_pre.c",366)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>366</integer>
					</dict>
					<key>name</key>
					<string>ASSERT(0 &lt; w &amp;&amp; w &lt; MIN2(B_PER_W, B_PER_S))</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>utilAssert (!!(memIsDisjoint2 (pre ,sizeof (ec_pre_t )+((size_t )(((((size_t )1)&lt;&lt;(w -1))*2*ec -&gt;f -&gt;n )*(64/8))),a ,((size_t )((2*ec -&gt;f -&gt;n )*(64/8))))),"/home/mikhail/bee2/src/math/ecp/ecp_pre.c",369)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>367</integer>
					</dict>
					<key>name</key>
					<string>ASSERT(memIsDisjoint2(pre, 
		sizeof(ec_pre_t) + O_OF_W(SIZE_BIT_POS(w - 1) * 2 * ec-&gt;f-&gt;n),
		a, O_OF_W(2 * ec-&gt;f-&gt;n)))</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>364</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>364</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>359</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>359</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>364</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>364</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>39</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>364</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>365</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>365</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>27</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>365</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>366</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'w' is &lt;= 0</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>366</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>44</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>366</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>367</integer>
					</dict>
					<key>message</key>
					<string>The result of the left shift is undefined due to shifting by '18446744073709551615', which is greater or equal to the width of type 'size_t'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>367</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>27</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>369</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/mikhail/bee2/src/math/ecp/ecp_pre.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clangsa</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.3</string>
		</dict>
	</dict>
</dict>
</plist>
