<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>903cf341bc3a1e0ac0763593be9f043d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9358c6587d264b7b1401b2430c55ae2f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>73970547c26e7f5bc4c8bf1a3871aa77</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a2577120af05739f1c8033b9c6a79e5d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>54369bdab91bd3f14631c2160b4d8747</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-parentheses</string>
			<key>description</key>
			<string>using the result of an assignment as a condition without parentheses</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0bca33db9c41fea41d7d9dfa2cf84391</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>81</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>81</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the assignment to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>81</integer>
					</dict>
					<key>message</key>
					<string>using the result of an assignment as a condition without parentheses</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-parentheses</string>
			<key>description</key>
			<string>using the result of an assignment as a condition without parentheses</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8fed0be237d891133c7b2c8b50b9c072</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>83</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>83</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the assignment to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>83</integer>
					</dict>
					<key>message</key>
					<string>using the result of an assignment as a condition without parentheses</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-parentheses</string>
			<key>description</key>
			<string>using the result of an assignment as a condition without parentheses</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>cb329f4836105e1b5e6c14b9f45f7c1a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>85</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>85</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the assignment to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>85</integer>
					</dict>
					<key>message</key>
					<string>using the result of an assignment as a condition without parentheses</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-parentheses</string>
			<key>description</key>
			<string>using the result of an assignment as a condition without parentheses</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>c387a6b7c3a57fede50ec17df85560b4</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>87</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>87</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the assignment to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>87</integer>
					</dict>
					<key>message</key>
					<string>using the result of an assignment as a condition without parentheses</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-parentheses</string>
			<key>description</key>
			<string>using the result of an assignment as a condition without parentheses</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d063cb3c7c4436b0d7027033d26979f8</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>89</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>89</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the assignment to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>89</integer>
					</dict>
					<key>message</key>
					<string>using the result of an assignment as a condition without parentheses</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-parentheses</string>
			<key>description</key>
			<string>using the result of an assignment as a condition without parentheses</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7d22b914e40327ae42386e8be51a3f08</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>110</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>110</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the assignment to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>110</integer>
					</dict>
					<key>message</key>
					<string>using the result of an assignment as a condition without parentheses</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-parentheses</string>
			<key>description</key>
			<string>using the result of an assignment as a condition without parentheses</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>1e22151477b52fc7b0340a041a4e3b5f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>112</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>112</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the assignment to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>112</integer>
					</dict>
					<key>message</key>
					<string>using the result of an assignment as a condition without parentheses</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-parentheses</string>
			<key>description</key>
			<string>using the result of an assignment as a condition without parentheses</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>43ed2e9440f5e2007adb8002caa45145</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>114</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>114</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the assignment to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>114</integer>
					</dict>
					<key>message</key>
					<string>using the result of an assignment as a condition without parentheses</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-parentheses</string>
			<key>description</key>
			<string>using the result of an assignment as a condition without parentheses</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>73efc8287f859d67ef12b5b839aa0867</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>116</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>116</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the assignment to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>116</integer>
					</dict>
					<key>message</key>
					<string>using the result of an assignment as a condition without parentheses</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-parentheses</string>
			<key>description</key>
			<string>using the result of an assignment as a condition without parentheses</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>93b50480f7799967d1b368eec68e20bc</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>118</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>118</integer>
					</dict>
					<key>message</key>
					<string>place parentheses around the assignment to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>118</integer>
					</dict>
					<key>message</key>
					<string>using the result of an assignment as a condition without parentheses</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/mikhail/bee2/include/bee2/core/mem.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/safe.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/u64.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/util.h</string>
		<string>/home/mikhail/bee2/include/bee2/defs.h</string>
		<string>/home/mikhail/bee2/src/core/u64.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.3</string>
		</dict>
	</dict>
</dict>
</plist>
