<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>00b97a65806d5ac914fdad4a45047865</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f5c9f86592e231d49022c72fe02f8076</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>91</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>91</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>91</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>91</integer>
					</dict>
					<key>message</key>
					<string>'blob' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f5c9f86592e231d49022c72fe02f8076</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>134</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>134</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>134</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>134</integer>
					</dict>
					<key>message</key>
					<string>'blob' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'src' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>264b6893a07332e96395110604ddc1bf</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>148</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>148</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>148</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>148</integer>
					</dict>
					<key>message</key>
					<string>'src' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob1' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>652570bac93f531735375296f00d2ba7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>158</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>158</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>158</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>158</integer>
					</dict>
					<key>message</key>
					<string>'blob1' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob2' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0b932632cf95e7b6d9c09f9e5cbd3a97</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>159</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>159</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>159</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>159</integer>
					</dict>
					<key>message</key>
					<string>'blob2' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob1' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>652570bac93f531735375296f00d2ba7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>173</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>173</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>173</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>173</integer>
					</dict>
					<key>message</key>
					<string>'blob1' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-misplaced-const</string>
			<key>description</key>
			<string>'blob2' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0b932632cf95e7b6d9c09f9e5cbd3a97</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>174</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>174</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>174</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>typedef declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>174</integer>
					</dict>
					<key>message</key>
					<string>'blob2' declared with a const-qualified typedef; results in the type being 'void *const' instead of 'const void *'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>552602a46edf384dd9d4bb2d63418d8e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>23</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>23</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2e53a32b03101fcb26d2c0c27e57dcdd</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a2577120af05739f1c8033b9c6a79e5d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>54369bdab91bd3f14631c2160b4d8747</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>13d4b86b33d396b69cca04ff7b9a3dfa</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>22</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>22</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '_once' is reserved because it starts with '_' at global scope</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a50169e79f6c172996636cf0b35245f2</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>6</integer>
				<key>line</key>
				<integer>43</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>6</integer>
						<key>line</key>
						<integer>43</integer>
					</dict>
					<key>message</key>
					<string>identifier '_once' is reserved because it starts with '_' at global scope</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '_mtx' is reserved because it starts with '_' at global scope</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b2e41f6e5096109e874c4f5431e62503</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>17</integer>
				<key>file</key>
				<integer>6</integer>
				<key>line</key>
				<integer>44</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>6</integer>
						<key>line</key>
						<integer>44</integer>
					</dict>
					<key>message</key>
					<string>identifier '_mtx' is reserved because it starts with '_' at global scope</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '_inited' is reserved because it starts with '_' at global scope</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0d44719e38a6b9597e4294fd139675f4</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>6</integer>
				<key>line</key>
				<integer>45</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>6</integer>
						<key>line</key>
						<integer>45</integer>
					</dict>
					<key>message</key>
					<string>identifier '_inited' is reserved because it starts with '_' at global scope</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '_fns' is reserved because it starts with '_' at global scope</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8c89e5ffef081e288828c6a428fd1e74</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>23</integer>
				<key>file</key>
				<integer>6</integer>
				<key>line</key>
				<integer>46</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>23</integer>
						<key>file</key>
						<integer>6</integer>
						<key>line</key>
						<integer>46</integer>
					</dict>
					<key>message</key>
					<string>identifier '_fns' is reserved because it starts with '_' at global scope</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should be used</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8ed4a933e5e5a8f2d893fded400019f9</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>6</integer>
				<key>line</key>
				<integer>110</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>6</integer>
						<key>line</key>
						<integer>110</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>6</integer>
						<key>line</key>
						<integer>110</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should be used</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/mikhail/bee2/include/bee2/core/blob.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/mt.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/tm.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/util.h</string>
		<string>/home/mikhail/bee2/include/bee2/defs.h</string>
		<string>/home/mikhail/bee2/include/bee2/info.h</string>
		<string>/home/mikhail/bee2/src/core/util.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.3</string>
		</dict>
	</dict>
</dict>
</plist>
