<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>903cf341bc3a1e0ac0763593be9f043d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9358c6587d264b7b1401b2430c55ae2f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>73970547c26e7f5bc4c8bf1a3871aa77</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a2577120af05739f1c8033b9c6a79e5d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9fab0e20cb49a2c20f93e1c84ff1c1c0</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>54369bdab91bd3f14631c2160b4d8747</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>5</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>292322d908b801dc275f3bbcb3ef1c16</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>6</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>6</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0299e41e6cc602578be1af2f79cf6418</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>7</integer>
				<key>line</key>
				<integer>21</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>7</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-dangling-else</string>
			<key>description</key>
			<string>add explicit braces to avoid dangling else</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5d6bca83d7bce389e41508f06b0acedb</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>4</integer>
				<key>file</key>
				<integer>8</integer>
				<key>line</key>
				<integer>170</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>8</integer>
						<key>line</key>
						<integer>170</integer>
					</dict>
					<key>message</key>
					<string>add explicit braces to avoid dangling else</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a988863b0263042829fcae85de6c9028</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>9</integer>
				<key>line</key>
				<integer>14</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>9</integer>
						<key>line</key>
						<integer>14</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/mikhail/bee2/include/bee2/core/mem.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/safe.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/u64.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/util.h</string>
		<string>/home/mikhail/bee2/include/bee2/core/word.h</string>
		<string>/home/mikhail/bee2/include/bee2/defs.h</string>
		<string>/home/mikhail/bee2/include/bee2/math/ww.h</string>
		<string>/home/mikhail/bee2/include/bee2/math/zz.h</string>
		<string>/home/mikhail/bee2/src/math/zz/zz_add.c</string>
		<string>/home/mikhail/bee2/src/math/zz/zz_lcl.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.3</string>
		</dict>
	</dict>
</dict>
</plist>
